<header>
    <div class="primary-background">
        <div class="darken-background">
            <div class="row container">
                <div id="total-cryptocurrencies" class="col s12 m4 left-align">
                    <b>2079</b> cryptocurrencies
                </div>
                <div class="col s12 m4 center-align">
                    Total Market Cap <b>$589,970,294,377</b>
                </div>
                <div id="total-volume" class="col s12 m4 right-align">
                    Total Volume 24h <b>$1,801,804,383</b>
                </div>
            </div>
        </div>
    </div>
    <!--Navigation-->
    <nav class="primary-background" role="navigation">
        <div class="nav-wrapper container">
            <!--Desktop-->
            <a href="/products/coincompare-cryptocurrency-market-cap" class="brand-logo">
                <img src="assets/tpl/images/logo.png">
                CoinCompare
            </a>
            <ul class="right">
                <li><select id="search-coins" tabindex="-1" class="select2-hidden-accessible"
                            aria-hidden="true"></select><span
                        class="select2 select2-container select2-container--default" dir="ltr"
                        style="width: 300px;"><span class="selection"><span
                        class="select2-selection select2-selection--single select2-selection-search-coins"
                        role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0"
                        aria-labelledby="select2-search-coins-container"><span class="select2-selection__rendered"
                                                                               id="select2-search-coins-container"></span><span
                        class="select2-selection__arrow" role="presentation"><b
                        role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                                                                           aria-hidden="true"></span></span></li>
                <li><a id="search-coins-button"><i class="material-icons">search</i></a></li>
                <li id="currency-dropdown"><a class="dropdown-button" href="#"
                                              data-activates="currency-selection">USD</a>
                    <ul id="currency-selection" class="dropdown-content">
                        <li><a class="currency-symbol" data-symbol="AED">AED</a></li>
                        <li><a class="currency-symbol" data-symbol="AFN">AFN</a></li>
                        <li><a class="currency-symbol" data-symbol="ALL">ALL</a></li>
                        <li><a class="currency-symbol" data-symbol="AMD">AMD</a></li>
                        <li><a class="currency-symbol" data-symbol="ARS">ARS</a></li>
                        <li><a class="currency-symbol" data-symbol="AUD">AUD</a></li>
                        <li><a class="currency-symbol" data-symbol="AZN">AZN</a></li>
                        <li><a class="currency-symbol" data-symbol="BAM">BAM</a></li>
                        <li><a class="currency-symbol" data-symbol="BDT">BDT</a></li>
                        <li><a class="currency-symbol" data-symbol="BGN">BGN</a></li>
                        <li><a class="currency-symbol" data-symbol="BHD">BHD</a></li>
                        <li><a class="currency-symbol" data-symbol="BIF">BIF</a></li>
                        <li><a class="currency-symbol" data-symbol="BND">BND</a></li>
                        <li><a class="currency-symbol" data-symbol="BOB">BOB</a></li>
                        <li><a class="currency-symbol" data-symbol="BRL">BRL</a></li>
                        <li><a class="currency-symbol" data-symbol="BWP">BWP</a></li>
                        <li><a class="currency-symbol" data-symbol="BYN">BYN</a></li>
                        <li><a class="currency-symbol" data-symbol="BZD">BZD</a></li>
                        <li><a class="currency-symbol" data-symbol="CAD">CAD</a></li>
                        <li><a class="currency-symbol" data-symbol="CDF">CDF</a></li>
                        <li><a class="currency-symbol" data-symbol="CHF">CHF</a></li>
                        <li><a class="currency-symbol" data-symbol="CLP">CLP</a></li>
                        <li><a class="currency-symbol" data-symbol="CNY">CNY</a></li>
                        <li><a class="currency-symbol" data-symbol="COP">COP</a></li>
                        <li><a class="currency-symbol" data-symbol="CRC">CRC</a></li>
                        <li><a class="currency-symbol" data-symbol="CVE">CVE</a></li>
                        <li><a class="currency-symbol" data-symbol="CZK">CZK</a></li>
                        <li><a class="currency-symbol" data-symbol="DJF">DJF</a></li>
                        <li><a class="currency-symbol" data-symbol="DKK">DKK</a></li>
                        <li><a class="currency-symbol" data-symbol="DOP">DOP</a></li>
                        <li><a class="currency-symbol" data-symbol="DZD">DZD</a></li>
                        <li><a class="currency-symbol" data-symbol="EGP">EGP</a></li>
                        <li><a class="currency-symbol" data-symbol="ERN">ERN</a></li>
                        <li><a class="currency-symbol" data-symbol="ETB">ETB</a></li>
                        <li><a class="currency-symbol" data-symbol="EUR">EUR</a></li>
                        <li><a class="currency-symbol" data-symbol="GBP">GBP</a></li>
                        <li><a class="currency-symbol" data-symbol="GEL">GEL</a></li>
                        <li><a class="currency-symbol" data-symbol="GHS">GHS</a></li>
                        <li><a class="currency-symbol" data-symbol="GNF">GNF</a></li>
                        <li><a class="currency-symbol" data-symbol="GTQ">GTQ</a></li>
                        <li><a class="currency-symbol" data-symbol="HKD">HKD</a></li>
                        <li><a class="currency-symbol" data-symbol="HNL">HNL</a></li>
                        <li><a class="currency-symbol" data-symbol="HRK">HRK</a></li>
                        <li><a class="currency-symbol" data-symbol="HUF">HUF</a></li>
                        <li><a class="currency-symbol" data-symbol="IDR">IDR</a></li>
                        <li><a class="currency-symbol" data-symbol="ILS">ILS</a></li>
                        <li><a class="currency-symbol" data-symbol="INR">INR</a></li>
                        <li><a class="currency-symbol" data-symbol="IQD">IQD</a></li>
                        <li><a class="currency-symbol" data-symbol="IRR">IRR</a></li>
                        <li><a class="currency-symbol" data-symbol="ISK">ISK</a></li>
                        <li><a class="currency-symbol" data-symbol="JMD">JMD</a></li>
                        <li><a class="currency-symbol" data-symbol="JOD">JOD</a></li>
                        <li><a class="currency-symbol" data-symbol="JPY">JPY</a></li>
                        <li><a class="currency-symbol" data-symbol="KES">KES</a></li>
                        <li><a class="currency-symbol" data-symbol="KHR">KHR</a></li>
                        <li><a class="currency-symbol" data-symbol="KMF">KMF</a></li>
                        <li><a class="currency-symbol" data-symbol="KRW">KRW</a></li>
                        <li><a class="currency-symbol" data-symbol="KWD">KWD</a></li>
                        <li><a class="currency-symbol" data-symbol="KZT">KZT</a></li>
                        <li><a class="currency-symbol" data-symbol="LBP">LBP</a></li>
                        <li><a class="currency-symbol" data-symbol="LKR">LKR</a></li>
                        <li><a class="currency-symbol" data-symbol="LYD">LYD</a></li>
                        <li><a class="currency-symbol" data-symbol="MAD">MAD</a></li>
                        <li><a class="currency-symbol" data-symbol="MDL">MDL</a></li>
                        <li><a class="currency-symbol" data-symbol="MGA">MGA</a></li>
                        <li><a class="currency-symbol" data-symbol="MKD">MKD</a></li>
                        <li><a class="currency-symbol" data-symbol="MMK">MMK</a></li>
                        <li><a class="currency-symbol" data-symbol="MOP">MOP</a></li>
                        <li><a class="currency-symbol" data-symbol="MUR">MUR</a></li>
                        <li><a class="currency-symbol" data-symbol="MXN">MXN</a></li>
                        <li><a class="currency-symbol" data-symbol="MYR">MYR</a></li>
                        <li><a class="currency-symbol" data-symbol="MZN">MZN</a></li>
                        <li><a class="currency-symbol" data-symbol="NAD">NAD</a></li>
                        <li><a class="currency-symbol" data-symbol="NGN">NGN</a></li>
                        <li><a class="currency-symbol" data-symbol="NIO">NIO</a></li>
                        <li><a class="currency-symbol" data-symbol="NOK">NOK</a></li>
                        <li><a class="currency-symbol" data-symbol="NPR">NPR</a></li>
                        <li><a class="currency-symbol" data-symbol="NZD">NZD</a></li>
                        <li><a class="currency-symbol" data-symbol="OMR">OMR</a></li>
                        <li><a class="currency-symbol" data-symbol="PAB">PAB</a></li>
                        <li><a class="currency-symbol" data-symbol="PEN">PEN</a></li>
                        <li><a class="currency-symbol" data-symbol="PHP">PHP</a></li>
                        <li><a class="currency-symbol" data-symbol="PKR">PKR</a></li>
                        <li><a class="currency-symbol" data-symbol="PLN">PLN</a></li>
                        <li><a class="currency-symbol" data-symbol="PYG">PYG</a></li>
                        <li><a class="currency-symbol" data-symbol="QAR">QAR</a></li>
                        <li><a class="currency-symbol" data-symbol="RON">RON</a></li>
                        <li><a class="currency-symbol" data-symbol="RSD">RSD</a></li>
                        <li><a class="currency-symbol" data-symbol="RUB">RUB</a></li>
                        <li><a class="currency-symbol" data-symbol="RWF">RWF</a></li>
                        <li><a class="currency-symbol" data-symbol="SAR">SAR</a></li>
                        <li><a class="currency-symbol" data-symbol="SDG">SDG</a></li>
                        <li><a class="currency-symbol" data-symbol="SEK">SEK</a></li>
                        <li><a class="currency-symbol" data-symbol="SGD">SGD</a></li>
                        <li><a class="currency-symbol" data-symbol="SOS">SOS</a></li>
                        <li><a class="currency-symbol" data-symbol="SYP">SYP</a></li>
                        <li><a class="currency-symbol" data-symbol="THB">THB</a></li>
                        <li><a class="currency-symbol" data-symbol="TND">TND</a></li>
                        <li><a class="currency-symbol" data-symbol="TOP">TOP</a></li>
                        <li><a class="currency-symbol" data-symbol="TRY">TRY</a></li>
                        <li><a class="currency-symbol" data-symbol="TTD">TTD</a></li>
                        <li><a class="currency-symbol" data-symbol="TWD">TWD</a></li>
                        <li><a class="currency-symbol" data-symbol="TZS">TZS</a></li>
                        <li><a class="currency-symbol" data-symbol="UAH">UAH</a></li>
                        <li><a class="currency-symbol" data-symbol="UGX">UGX</a></li>
                        <li><a class="currency-symbol" data-symbol="USD">USD</a></li>
                        <li><a class="currency-symbol" data-symbol="UYU">UYU</a></li>
                        <li><a class="currency-symbol" data-symbol="UZS">UZS</a></li>
                        <li><a class="currency-symbol" data-symbol="VEF">VEF</a></li>
                        <li><a class="currency-symbol" data-symbol="VND">VND</a></li>
                        <li><a class="currency-symbol" data-symbol="XAF">XAF</a></li>
                        <li><a class="currency-symbol" data-symbol="XOF">XOF</a></li>
                        <li><a class="currency-symbol" data-symbol="YER">YER</a></li>
                        <li><a class="currency-symbol" data-symbol="ZAR">ZAR</a></li>
                        <li><a class="currency-symbol" data-symbol="ZMW">ZMW</a></li>
                    </ul>
                </li>
                <li id="language-dropdown"><a class="dropdown-button" href="#" data-activates="language-selection"><img
                        src="assets/tpl/images/flags/us.png"></a>
                    <ul id="language-selection" class="dropdown-content"
                        style="width: 46px; position: absolute; top: 0px; left: 1009.5px; display: none; opacity: 1;">
                        <li><a class="language-code" data-language="cs-CZ"><img src="assets/tpl/images/flags/cz.png"> cz</a>
                        </li>
                        <li><a class="language-code" data-language="da-DK"><img src="assets/tpl/images/flags/dk.png"> dk</a>
                        </li>
                        <li><a class="language-code" data-language="de-DE"><img src="assets/tpl/images/flags/de.png"> de</a>
                        </li>
                        <li><a class="language-code" data-language="el-GR"><img src="assets/tpl/images/flags/gr.png"> gr</a>
                        </li>
                        <li><a class="language-code" data-language="en-US"><img src="assets/tpl/images/flags/us.png"> us</a>
                        </li>
                        <li><a class="language-code" data-language="es-ES"><img src="assets/tpl/images/flags/es.png"> es</a>
                        </li>
                        <li><a class="language-code" data-language="et-EE"><img src="assets/tpl/images/flags/ee.png"> ee</a>
                        </li>
                        <li><a class="language-code" data-language="fi-FI"><img src="assets/tpl/images/flags/fi.png"> fi</a>
                        </li>
                        <li><a class="language-code" data-language="fr-FR"><img src="assets/tpl/images/flags/fr.png"> fr</a>
                        </li>
                        <li><a class="language-code" data-language="hu-HU"><img src="assets/tpl/images/flags/hu.png"> hu</a>
                        </li>
                        <li><a class="language-code" data-language="it-IT"><img src="assets/tpl/images/flags/it.png"> it</a>
                        </li>
                        <li><a class="language-code" data-language="lt-LT"><img src="assets/tpl/images/flags/lt.png"> lt</a>
                        </li>
                        <li><a class="language-code" data-language="lv-LV"><img src="assets/tpl/images/flags/lv.png"> lv</a>
                        </li>
                        <li><a class="language-code" data-language="nl-NL"><img src="assets/tpl/images/flags/nl.png"> nl</a>
                        </li>
                        <li><a class="language-code" data-language="pt-BR"><img src="assets/tpl/images/flags/br.png"> br</a>
                        </li>
                        <li><a class="language-code" data-language="pt-PT"><img src="assets/tpl/images/flags/pt.png"> pt</a>
                        </li>
                        <li><a class="language-code" data-language="ru-RU"><img src="assets/tpl/images/flags/ru.png"> ru</a>
                        </li>
                        <li><a class="language-code" data-language="sk-SK"><img src="assets/tpl/images/flags/sk.png"> sk</a>
                        </li>
                        <li><a class="language-code" data-language="sl-SI"><img src="assets/tpl/images/flags/si.png"> si</a>
                        </li>
                        <li><a class="language-code" data-language="sv-SE"><img src="assets/tpl/images/flags/se.png"> se</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#" id="menu-button" data-activates="side-menu"><i class="material-icons">menu</i></a></li>
            </ul>
        </div>
    </nav>

    <!-- Currency dropdown  -->

    <!-- language dropdown -->

    <!-- admin menu dropdown -->

    <!--Side menu-->
    <ul id="side-menu" class="side-nav" style="transform: translateX(-100%);">
        <li><a class="subheader">CoinCompare</a></li>
        <li><a href="/products/coincompare-cryptocurrency-market-cap" class="waves-effect"><i class="material-icons">public</i>Front
            page</a></li>
        <li><a href="/products/coincompare-cryptocurrency-market-cap/page/about" class="waves-effect"><i
                class="material-icons">info_outline</i>About</a></li>
        <li><a href="/products/coincompare-cryptocurrency-market-cap/page/faq" class="waves-effect"><i
                class="material-icons">help_outline</i>FAQ</a></li>
        <li>
            <a href="https://codecanyon.net/item/coincompare-cryptocurrency-market-capitalization/20898327?ref=financialtechnology"
               class="waves-effect" target="_blank"><i class="material-icons">cloud_download</i>Purchase</a></li>
    </ul>
    <!--END Side menu-->
</header>