
<section id="coins-table">
    <div class="row">
        <div class="col s12">
            <table id="coins-list" class="bordered highlight vertical-responsive-table">
                <thead>
                    <tr>
                        <th>
                            Cryptocurrency
                        </th>
                        <th class="right-align">
                            Price
                        </th>
                        <th class="right-align">
                            24h % Change
                        </th>
                        <th class="right-align">
                            Supply
                        </th>
                        <th class="right-align">
                            Volume
                        </th>
                        <th class="right-align">
                            Market cap
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="Cryptocurrency-{{ data.short }}" class="coin-row coin-row-BTC" *ngFor="let data of data; let i = index">
                        <td data-title="Cryptocurrency">
                            <span class="coin-number">{{ i + 1 }}</span>
                            <a href="#">
                                <img src="assets/tpl/images/coins/thumb30/1182-BTC.png" alt="Bitcoin" title="Bitcoin">
                            </a>
                            <span>
                                <a href="#">{{ data.long }}</a>
                            </span>
                        </td>
                        <td class="right-align price" data-title="Price">
                            <sup>$</sup>
                            <span class="coin-price-value">
                                {{ data.price | number : '1.2-4' }}
                            </span>
                        </td>
                        <td class="right-align change" data-title="24h % Change">
                            <span class="coin-change_pct-value change-down">
                                {{ data.perc }}%
                            </span>
                        </td>
                        <td class="right-align supply" data-title="Supply">
                            <span class="coin-supply-value">
                                {{ data.supply | number : '1.2-2' }}
                            </span>
                            {{ data.short }}
                        </td>
                        <td class="right-align volume" data-title="Volume">
                            <span class="coin-volume-value">
                                {{ data.volume | number : '1.2-2' }}
                            </span>
                        </td>
                        <td class="right-align market_capital" data-title="Market cap">
                            <sup>$</sup>
                            <span class="coin-market_cap-value">
                                {{ data.mktcap | number : '1.2-2' }}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>