<section id="news-ticker">
    <div class="row">
        <div class="col s12 m4 l2">
            <div class="primary-background center">
                Breaking news
            </div>
        </div>
        <div class="col s12 m8 l10">
            <span id="news-ticker-typed">The UAE’s Sustainable City Inches Closer Toward Completion
                <a href="http://www.cryptocurrency.net/site/contents/content/1861927/2018-01-31/the-uaes-sustainable-city-inches-closer-toward-completion"
                    target="_blank">Read more
                </a>
            </span>
            <span class="typed-cursor" style="animation-iteration-count: infinite;">|</span>
        </div>
    </div>
</section>